/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Login Styles */

*{
  text-decoration: none;
}

input::-ms-reveal { 
display: none; 
}


.loginButton {
margin-top: 30px;
width: 300px;
border: none;
background-color: #C8ECB8;
height: 34px;
color: #0A4610;
font-weight: bolder;
border-radius: 5px;

display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}

.error-message{
margin-top: 10px;
color: red;
display: flex;
justify-content: center;
align-items: center;
}

.fpContainer{
margin-top: 10px;
}
.forgotpass{
text-decoration: none;
color: black;
}

.labelButtonContainer{
display: flex;
justify-content: space-between;
margin-bottom: 5px;
margin-top: 5px;
}

.removeButton{
margin-right: 60px;
background-color: transparent;
border: none;
}

.removeButtonIcon{
color: red;
}

.addButtonContainer{
justify-content: center;
align-items: center;
display: flex;
margin-top: 20px;
}

.addBButton{
background-color: #5CBD10;
border: none;
border-radius: 8px;
padding: 5px;
padding-bottom: 4px;
color: white;

}

/* End Login Page Styles */


/* Register Page Styles */

.allFormContainerReg {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 30px;
  justify-content: flex-start; /* Align content to the start (left) */
}

.inputFieldContainer {
  width: 100%;
  margin-bottom: 20px;
}

.inputFieldReg {
  width: 90%;
}

.signupButton {
  width: 90%;
  height: 43px;
  background-color: #C8ECB8;
  color: #134601;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
}

.orStyles {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the start (left) */
  width: 100%;
  max-width: 300px;
  margin: 10px 0; /* Adjust margin as needed */
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.orP {
  margin: 0 10px;
  color: #999;
}

.toLoginPage{
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the start (left) */
  margin-left: 30px;
}

.toLogin{
  font-weight: bolder;
  color: #134601;
}

/* Forgot Password Styles */

.backtoLoginBtn{
color: #C8ECB8;
}




@media screen and (min-width: 1000px){


.allFormContainerReg{
  display: flex;
  width: 150%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputFieldReg {
  width: 140%;
}

.signupButton {
  width: 140%;
}
}




/* Borrow Form Styles */

.pageBody{

align-items: center;
justify-content: center;
margin: 20px;
width: 100%;

}

.arrowButton{
background-color: transparent;
border: none;
}

.headerContainer{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 90%;
margin: 20px;
}

.allFormContainer{
display: flex;
flex-direction: column;
width: 30%;
margin: auto;

}

.firstFormContainer{
background-color: #CEE7C5;
height: 160px;
width: 95%;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 10px;
margin-bottom: 10px;
}

.qrButton{
background-color: transparent;
border: none;
}

label{
margin-left: 20px;
}

.inputField{
background-color: white;
margin-left: 20px;
width: 100%;
}

.drop{
margin-left: 20px;
margin-top: 10px;
}

.selectform{
width: 89%;
}
.labelContain{
margin-top: 10px;
}

.whatever{
margin-left: 0;
}

.firstfield{
background-color: white;
margin-left: 20px;
width: 90%;
}

.secondfield{
  width: 95%;
}

.quantityInput{
width: 20px;
border: none;
text-align: center;
}

.editQty{
border: 1px solid black;
border-radius: 20px;
width: 85px;
}

.btndecrement, .btnincrement{
background-color: transparent;
border: none;
}

.removeBtnLink{
background-color: transparent;
text-decoration: underline;
color: red;
border: none;
}



/* Table Styles */
.tableContainer1{
margin-top: 20px;
}

table{
margin-left: 20px;
text-align: center;
width: 85%;
border-bottom: 1px solid black;
padding-bottom: 10px;
gap: 10px;
}


.headstyle{
border-bottom: 1px solid #000;
}

th {
padding-bottom: 5px;
border-right: none;
border-left: none;
border-bottom: 1px solid #000; /* You can adjust the thickness and color */
}

td{
border-collapse: collapse;
}

.totalItem{
margin-left: 20px;
}

.errorMessage{
color: red;
margin-left: 20px;
}

@media screen and (max-width: 1000px){
.allFormContainer{
  width: 100%;
}

.firstFormContainer{
  width: 90%;
}

.firstfield{
  width: 87%;
}
}

/* Suggestion Box Styles */

.liStyle{
margin-bottom: 10px;
margin-left: 1px;
list-style-type: none;
border-bottom: 1px solid gray;
padding-bottom: 10px;
padding-left: 15px;
width: 85%;

}

.suggestionBox{
background-color: white;
margin-left: 20px;
width: 84%;
margin-top: 0px;
padding-bottom: 10px;
border: 1px solid gray;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
margin-bottom: 20px;
}

.btnsContainer1{
display: flex;
flex-direction: column;
gap: 20px;
margin-top: 20px;
margin-left: 32px;
width: 100%;

}

/* End of Suggestion Box Styles */

/* End of Borrowing Form Styles */

/* Forgot Password Styles */

.forgotPassPageContainer{
margin: 20px;
}


.contentContainer {
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
}

.content {
text-align: left; /* Align the content inside 'content' to the left */
}

.hText{
color: #1E1A4D;
font-style: normal;
font-weight: 700;
line-height: normal;
}

label{
text-align: left !important;
}


.requestButton{
width: 309px;
height: 41px;
border: none;
border-radius: 5px;
background-color: #77C777;
color: #0A4610;
font-weight: bolder;
}

/* Request Confirm Styles */

.requestConfirmPage{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 100px;
gap: 20px;
}

.requestDesc{
text-align: center;
font-size: 16px;
text-wrap: balance;
margin-left: 20px;
margin-right: 20px;
}


.reqBtn{
background-color: #C8ECB8;
font-weight: bolder;
color: #134601;
border: none;
width: 80%;
border-radius: 10px;
height: 48px;
}

.seeLiveBtn{
background-color: #C8ECB8;
font-weight: bolder;
color: #134601;
border: none;
width: 380px;
border-radius: 10px;
height: 48px;
}

.cancelBtn{
background-color: #ECC4B8;
font-weight: bolder;
color: #460101;
border: none;
width: 80%;
border-radius: 10px;
height: 48px;
margin-bottom: 10px;
}

.backToHomeBtn{
background-color: white;
border: 1px solid #C8ECB8;
color: #134601;
font-weight: bolder;
width: 380px;
border-radius: 10px;
height: 48px;

}

@media screen and (max-width: 450px){
.seeLiveBtn{
  width: 290px;
}

.backToHomeBtn{
  width: 290px;
}
}


/* DASHBOARD STYLE*/
.logocontainerD{
margin: 40px 10px 10px 10px;

width: calc(100% - 20px);
display: flex;
justify-content: center;

}

.DashboardContent{
margin-left: 10px;
margin-right: 10px;
background-color: #F2FAF4;
width: 100%;
}


@media screen and (min-width: 900px) {
  .DashboardContent {
    width: 900px;

    margin: 0 auto;
  }
}


.viewContent{
  width: 900px;
  height: 570px;
  margin: 0 auto;
}

.firstContent{
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-left: 20px;
 margin-right: 20px;
 justify-content: space-between;
 margin-top: 10px;
}

.leftlabel{

display: flex;
flex-direction: row;
align-items: center;
}
.leftlabelstudent{

height: 32px;
margin-left: 3px;

}
.iconContainer{

height: 34px;
width: 34px;
}
.iconContainer svg {
/* Adjust the size of the icon to fit within the container */
width: 100%;
height: 100%;
color:hsla(144, 31%, 12%, 1)
}
.idNumber{

font-size: 13px;
font-style: normal;
font-weight: 700;
}


.status span{
color: #45A54E;


}
.rightlabel{

display: flex;
align-items: center;
flex-direction: column;
width: 46px;
height: 37px;
justify-content: flex-end;
background: none;
border: none;

}

.logoutIcon{
margin: 0px;
height: 12px;
width: 12px;
color: #1B4D1A;
}
.rightText{
color: #1B4D1A;
font-size: 10px;
font-style: normal;
font-weight: 400;
}


/* 
D-2C*/


.dashboardLabel{
  color: #1B4D1A;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border-bottom: 2px solid #1B4D1A;
  padding-bottom: 8px;
  align-self: stretch;
  margin: 0px 26px;
}
/* 
D-3C */
.borrowItemsButton{
margin-left: 20px;
margin-right: 20px;

border-radius: 10px;
background: #CDF;
color: #25639D;
text-align: center;
font-weight: 700;
padding: 15px 38px;
display: flex;
justify-content: center;


}


/* D-4C */

.buttonsView{

padding: 5px 0px;
margin-left: 20px;
margin-right: 20px;
display: flex;
flex-direction: row;
margin-top: 25px;
margin-bottom: 25px;

overflow-x: scroll;
overflow: hidden;

}


.buttonItemsStatus{
background-color:hsla(112, 45%, 77%, 0.306);
margin-right: 10px;
display: flex;
width: 84px;
height: 75px;
padding: 4px 6px;
flex-direction: column;
border: none;
align-items: center;          
border-radius: 10px;
color: hsla(119, 50%, 20%, 1);
min-width: 68px;
}

@media screen and (max-width: 360px){
.buttonItemsStatus{
  font-size: 9px;
  align-items: center;
}
}





.button-active{
background-color: rgb(54, 110, 7);
border: none;
margin-right: 10px;
display: flex;
width: 84px;
height: 75px;
padding: 4px 6px;
flex-direction: column;
font-size: 11px;
font-weight: 700;
align-items: center;
border-radius: 10px;
background: #B2DFAB;
color: hsla(119, 50%, 20%, 1)
}
.iconStatus{

display: flex;
align-items: center;
justify-content: center;
height: 33px;
width: 38px;
margin-top: 10px;
margin-bottom: 10px;
}
.iconStatus svg{


width: 100%;
height: 100%;
color: hsla(119, 50%, 20%, 1)

}
/* D-5C */

.transactionView{
margin-top: 15px;


}
.transactionContainer{
border-radius: 7px;
background: #CEE6C5;
display: flex;
padding: 10px 10px 0px 10px;
flex-direction: column;
margin-bottom: 2px;
text-decoration: none;

}
.transactionContainerBreakage{
background-color: #FFE9E9;
border-radius: 7px;

display: flex;
padding: 10px 10px 0px 10px;
flex-direction: column;
margin-bottom: 8px;
}
.transactionFirstRow{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;


}
.transactionID{
font-size: 14px;
font-style: normal;
font-weight: 700;
color: black


}
.transactionStatusContainer{


display: flex;
flex-direction: row;
align-items: center;
margin-right: 5px;



}

.iconReturning, .iconPending{

color: #E1A304; 
display: flex;
align-items: center;
height: 5px;
width: 5px;
margin-right: 15px;

}

.iconApproved, .iconCompleted, .iconResolved{
color: #00360C;

display: flex;
align-items: center;
height: 5px;
width: 5px;
margin-right: 15px;

}
.iconBreakage, .iconRejected{

color: #360000;
display: flex;
align-items: center;
height: 5px;
width: 5px;
margin-right: 15px;

}
.iconReturning svg, .iconPending svg, .iconApproved svg, .iconCompleted svg, .iconResolved svg, .iconBreakage svg, .iconRejected svg {
width: 100%;
height: 100%;
margin-right: 10px;

}
.itemPendingStatusText, .itemReturningStatusText{
color: #E1A304;
font-size: 11px;
font-style: normal;
font-weight: 600;
}

.itemCompletedStatusText, .itemResolvedStatusText, .itemApprovedStatusText, .itemResolvedStatusText{
color: hsla(126, 58%, 21%, 1);
font-size: 11px;
font-style: normal;
font-weight: 600;
}
.itemBreakageStatusText{

font-size: 11px;
color: #d26767;

font-style: normal;
font-weight: 600;
}
.itemRejectedStatusText{
color: #cd3d3d;
font-size: 11px;
font-style: normal;
font-weight: 600;
}

.transactionSecondRow{
color: #8F8F8F;
font-size: 11px;
font-style: italic;
font-weight: 400;
display: flex;
justify-content: space-between;
align-items: flex-start;
margin-top: 10px;

}
.timeanddate{
display: flex;
flex-direction: column;
}
.pendingCancel{
border-radius: 5px;
background: #E6C5C5;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
display: flex;
padding: 5px 20px;
justify-content: center;
align-items: center;
color: #4D1A1A;
font-size: 11px;
font-style: normal;
font-weight: 700;
}
.obReturn{
background-color: #FFECA7;
border-radius: 5px;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
display: flex;
padding: 5px 20px;
justify-content: center;
align-items: center;
color: #4D1A1A;
font-size: 11px;
font-style: normal;
font-weight: 700;
}
.transactionThirdRow {
  margin-top: 5px;
  border-top: 1px solid rgba(160, 160, 160, 0.20);
  padding: 5px 0px;
  color: hsla(216, 2%, 42%, 1);
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  font-size: 9px;
  font-style: normal;
  font-weight: 300;


}

/* PENDING VIEW STYLE*/

.viewContent{
background-color:rgba(234, 234, 234, 0.427);
max-height: 900px;
overflow-y: auto;


}

.headerView{
display: flex;
justify-content: space-between;
margin: 30px 22px 0px 22px;


}
.mainlogoView{

width: 160px;
height: 30px;


}
.customArrowLink{
color:#000
}
.customArrowLink:active{
text-decoration: none;
color: #000; 
outline: none; 
box-shadow: none;
}
.viewArrowIcon{
height: 4px;
width: 4px;
}
.transaction-header-note{
color: #360000;

font-size: 10px;
font-style: italic;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: flex-end;
margin: 3px 25px 0px 25px;

}

/*PV-2*/
.pendingHeaderText, .returnCompleteHeaderText, .returnCheckingHeaderText{
color: #00360C;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
display: flex;
height: 55px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
align-self: stretch;

margin: 20px 15px 0px 15px;

}

.pendingBar, .returnCompletedBar{
margin: 10px 25px 0px 25px;
height: 20px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;

}

.checkMarkPoint{
width: 19px; 
height: 19px;
background-color: hsla(119, 38%, 44%, 1); 
border: 2px solid rgb(2, 71, 2);
border-radius: 50%; 
display: flex;
align-items: center;
justify-content: center;
font-size: 10px;
font-weight: bold;
color: rgb(255, 255, 255); 

} 
.checkMarkPoint svg{
color: white;
font-size: 15px;
font-weight: 700;

}
.checkMark {
width: 19px; 
height: 19px;
background-color: transparent; 
border: 2px solid green; 
border-radius: 50%; 
display: flex;

align-items: center;
justify-content: center;
font-size: 24px;
color: green; 

}
.lineIcon{
width: 148px;
height: 2px;
display: flex;
flex:1;
background: #036901;
}
.dashIcon{
border: 1px dashed green;
width:145px;
display:flex;
flex: 1;

} 
.pendingBarTxt, .returnBarTxt{
height: 20px;

margin: 7px 24px 0px 24px;
display: flex;
justify-content: space-between;
color: #000;
text-align: center;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: normal
}
.viewStatusPending, .viewStatusReturnChecking{

display: flex;
padding: 5px;
justify-content: flex-end;
align-items: center;
gap: 10px;
border-radius: 10px;
background: #FEFFCD;
color: #D9A92E;
text-align: center;

font-size: 11px;
font-style: normal;
font-weight: 400;
margin: 20px 25px 0px 25px;

}
.viewStatusOnBorrow, .viewStatusReturnComplete{
display: flex;
padding: 5px;
justify-content: flex-end;
align-items: center;
gap: 10px;
border-radius: 10px;
color: #00360C;
text-align: center;

font-size: 11px;
font-style: normal;
font-weight: 400;
margin: 20px 25px 0px 25px;
background: #D9FFD8;
}
.viewStatusBreakage, .viewStatusRed{
display: flex;
padding: 5px;
justify-content: flex-end;
align-items: center;
gap: 10px;
border-radius: 10px;
color: hsla(0, 100%, 11%, 1);
text-align: center;

font-size: 11px;

margin: 20px 25px 0px 25px;
background: #FFE9E9;

}
.viewStatusOnBorrow span, .viewStatusReturnComplete span{
color: #00360C;
text-align: center;
font-size: 11px;
font-style: normal;
font-weight: 700;

}
.viewStatusPending span, .viewStatusReturnChecking span{
color: #D9A92E;
text-align: center;
font-size: 11px;

font-weight: 700;

}
.viewStatusBreakage span{
color: #360000;
text-align: center;
font-size: 11px;
font-weight: 700;

}
.viewPaperContent{
background-color: rgb(255, 255, 255);
padding: 10px 10px;
margin: 10px 25px;

border-radius: 12px;
}
.titleID{
color: #000;
text-align: right;
font-size: 15px;
font-style: normal;
font-weight: 700;
display: flex;
justify-content: flex-end;
align-items: center;


}
.titleID span{
font-size: 21px;
}
.firstRow{
display: flex;
justify-content: space-between;
align-items: center;
}


.iconProfileContainer svg{
width: 100%;
height: 100%;


}

.student-Name{
color: #000;
font-size: 13px;
font-style: normal;
font-weight: 700;
}
.student-ID-Dept{
color: #000;
font-size: 9px;
font-style: normal;
font-weight: 400;
}






.viewItemsSelected{
border-top: 1px solid #A2A2A2;
border-bottom: 1px solid #A2A2A2;
display: flex;
padding: 10px 5px 0px 5px;
flex-direction: column;



}

.firstRow-profile-logout {
display: flex;
align-items: center;
align-self: stretch;
padding: 5px 26px;
justify-content: space-between;
}

.viewAfterLabel{
border-top: 1px solid #A2A2A2;
display: flex;
padding: 10px 5px 0px 5px;
flex-direction: column;


}


.approvedCont {
padding: 20px 0px 35px 0px;
}



.eachIndex{
margin-right: 15px;
}
.eachItemDetails{
display: flex;
flex-direction: row;
}

.viewItemLeft{
margin-top: 0px;
display: flex;
flex-direction: row;
font-size: 12px;
margin-bottom: 15px;
color: hsla(0, 0%, 0%, 0.7);

}



.viewEachBreakage{

display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 5px;
margin-bottom: 5px;

align-items: center;
}


.totalQuantityLabel span{
color: #000;

font-size: 10px;
font-style: normal;
font-weight: 700;
}
.eachmemID{
margin-right: 10px;
}

.viewDate{
display: flex;
justify-content: flex-end;
}
.viewTime{
display: flex;
justify-content: flex-end;
}
.doneViewButton{
display: flex;
height: 43px;
padding: 9px 38px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: #C8ECB8;
color: #134601;
text-align: center;

font-size: 14px;
font-style: normal;
font-weight: 700;
margin: 0px 15px 15px 15px;

}

.cancelViewButton{

display: flex;
height: 43px;
padding: 9px 38px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: #ECC4B8;
color: #460101;
text-align: center;

font-size: 14px;
font-style: normal;
font-weight: 700;
margin: 0px 15px 0px 15px;

}


/* on borrow confirmation */

.viewConfirmation{
background-color:rgba(234, 234, 234, 0.427);
margin: 0px 25px 0px 25px
}
.confirmationTxt{

color: #000;
text-align: justify;
font-size: 12px;
font-style: normal;
font-weight: 400;
margin-left: 10px;
}
.confirmationTxt span{
font-weight: 700;
}
.customCircle{
color: #000000B2;

}
.firstRowConfirm{
display: flex;
flex-direction: row;
align-items: center;
}
.returnViewButton{
display: flex;
height: 43px;
padding: 9px 38px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 10px;
background: rgba(154, 154, 154, 0.40);
margin-top: 10px;
margin-bottom: 10px;

color: #5C5C5C;
font-size: 14px;
font-style: normal;
font-weight: 700;



}
.returnViewButton.active{
background-color: #C8ECB8;
color: #134601;
}
/*breakage details*/

.breakageContainer{
display: flex;
flex-direction: column;
justify-content: flex-end;

align-items: flex-end;
padding-right:  10px;


}
.breakageDetails{

display: flex;
justify-content: flex-end;
align-items: center;
font-weight: 700;
font-size: 14px;
color: hsla(0, 100%, 11%, 1);



}
.breakageLabel{
margin-left: 30px;
background: #FFE9E9;   
border-radius: 10px;
padding: 3px 6px;
color: hsla(0, 100%, 11%, 1);


}
.iconBreakageView{
height: 2px;
width: 2px;
color: hsla(0, 100%, 11%, 1);
margin-right: 10px;
margin-left: 5px;
display: flex;
flex-direction: row;
align-items: center;

} 
.iconBreakageView svg{
height: 5px;
width: 5px;
margin-right: 10px;
}
.breakageItemNote{
color: #360000;

font-size: 10px;
font-style: italic;
font-weight: 400;
line-height: normal;


}
.breakageReplacedLabel{
margin-left: 70px;
background: #D9FFD8;
border-radius: 10px;
padding: 3px 6px;
color: #00360C;


}
/*replaced*/

.breakageCompleteDetails{
color: #00360C;
display: flex;
justify-content: flex-end;
align-items: center;
font-weight: 700;
font-size: 14px;
}
.iconBreakageReplacedView{
height: 2px;
width: 2px;
color: #00360C;

margin-right: 10px;
margin-left: 5px;
display: flex;
flex-direction: row;
align-items: center;
}
.iconBreakageReplacedView svg{
height: 5px;
width: 5px;
margin-right: 10px;
}
.breakageCompleteItemNote{
color: #00360C;
font-size: 10px;
font-style: italic;
font-weight: 400;
line-height: normal;

}

footer{
display: flex;
align-items: center;
justify-content: center;
}

/* footer{
display: flex;
justify-content: center;
align-items: center;
top: 0;
bottom: 10px;
} */

.tableHeadContainer{
border-bottom: solid 1px black;
}

.totalContain{
margin-right: 10px;
}

.teacherContainer {
  padding: 170px 40px 0px 40px; 

}

.logoDako {
  display: flex;
  justify-content: center;
}

.UserPass {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

}

.formContainerlog{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}

.InputFieldlog {
  width: 270px;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  padding: 5px 5px;


}
.forgotPassword {
  margin-top: 8px;

  color: #000;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* Rewrite */
.sideHeader {
  display: flex;
  padding: 0px 22px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}


/* Transaction */
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #F2FAF4;

  width: 100%;
  min-width: 360px;
  min-height: 100vh;
  height: 100%;

  gap: 20px;
}

.viewStudentInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0px;
}

.studentDetails{
  flex-direction: column;
}

.transBody {
  display: flex;
  padding: 10px 15px 0px 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.transStatus{
  display: flex;
  padding: 5px 20px;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;

  height: 22px;
  border-radius: 10px;
}

.receiptCont {
  background-color: white;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-self: stretch;

  margin-top: 5px;

  border-radius: 10px;
}

.transactionID {
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: black;
  justify-content: end;
}

.BorrowerRow {
  display: flex;
  width: 307px;
  padding: 5px 0px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 24px;
}

.iconProfileContainer{
  width: 50px;
  height: 50px;
  margin-right: 4px;
}

.borrowerLeftDetails {
  display: flex;
  align-items: flex-start;
  gap: 3px;
}

.BorrowerDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.viewEachInfo {
  display: flex;
  align-items: center; /* Vertically align items */
  margin-bottom: 10px;
  gap: 20px;
  
}

.viewTitleLabel{
  color: #1E1A4D;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
}

.totalQuantityLabel{
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}

.viewDateTime{

  display: flex;
  align-self: flex-end;
  color: grey;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
  flex-direction: column;
  }

.bigButton {
  display: flex;
  height: 50px;
  padding: 9px 38px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-width: 0px;
  text-align: center;
  align-self: stretch;

  font-weight: 700;
  margin: 0px 15px 15px 15px;

}

.buttonsCont {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  padding-bottom: 20px;
  width: 100%;
}

.navborrow {
  width: 100%;
}

.studteNavigation {
  padding: 5px 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;

  overflow-x: scroll;
  overflow: hidden;
}