#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Login Styles */

* {
  text-decoration: none;
}

input::-ms-reveal {
  display: none;
}

.logoContainer,
.form-container,
.fpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainlogo {
  margin-top: 150px;
  margin-bottom: 100px;
}

.grouplogo,
.logo {
  bottom: 2px;
}

.loginButton {
  margin-top: 30px;
  width: 300px;
  border: none;
  background-color: #c8ecb8;
  height: 34px;
  color: #0a4610;
  font-weight: bolder;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loginbtncontainer {
  margin-top: 30px;
}

.error-message {
  margin-top: 10px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fpContainer {
  margin-top: 10px;
}
.forgotpass {
  text-decoration: none;
  color: black;
}

.labelButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
}

.removeButton {
  margin-right: 60px;
  background-color: transparent;
  border: none;
}

.removeButtonIcon {
  color: red;
}

.addButtonContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.addBButton {
  background-color: #5cbd10;
  border: none;
  border-radius: 8px;
  padding: 5px;
  padding-bottom: 4px;
  color: white;
}

/* End Login Page Styles */

/* Forgot Password Styles */

.backtoLoginBtn {
  color: #c8ecb8;
}

/* Borrow Form Styles */

.pageBody {
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.arrowButton {
  background-color: transparent;
  border: none;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 20px;
}

.allFormContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.firstFormContainer {
  background-color: #cee7c5;
  height: 160px;
  width: 95%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.qrButton {
  background-color: transparent;
  border: none;
}

label {
  margin-left: 20px;
}

.inputField {
  background-color: white;
  margin-left: 20px;
  width: 85%;
}

.drop {
  margin-left: 20px;
  margin-top: 10px;
}

.selectform {
  width: 89%;
}
.labelContain {
  margin-top: 10px;
}

.whatever {
  margin-left: 0;
}

.firstfield {
  background-color: white;
  margin-left: 20px;
  width: 90%;
}

.quantityInput {
  width: 20px;
  border: none;
  text-align: center;
}

.editQty {
  border: 1px solid black;
  border-radius: 20px;
  width: 85px;
}

.btndecrement,
.btnincrement {
  background-color: transparent;
  border: none;
}

.removeBtnLink {
  background-color: transparent;
  text-decoration: underline;
  color: red;
  border: none;
}

/* Table Styles */
.tableContainer1 {
  margin-top: 20px;
}

table {
  margin-left: 20px;
  text-align: center;
  width: 85%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  gap: 10px;
}

.yawa {
  margin-top: 5px;
}
.headstyle {
  border-bottom: 1px solid #000;
}

th {
  padding-bottom: 5px;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000; /* You can adjust the thickness and color */
}

td {
  border-collapse: collapse;
}

.totalItem {
  margin-left: 20px;
}

.errorMessage {
  color: red;
  margin-left: 20px;
}

@media screen and (max-width: 900px) {
  .allFormContainer {
    width: 100%;
  }

  .firstFormContainer {
    width: 100%;
  }

  .firstfield {
    width: 87%;
  }
}

/* Modal Styles */
.modal {
  background-color: #cfcfcf;
  width: 80%;
  display: flex;
  height: 220px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 20px;
}

.btnsContainer {
  display: flex;
  flex-direction: row;
}

.qtyInputField {
  width: 250px;
  border: none;
  background-color: white;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.qrStyle {
  height: 50%;
  width: 100%;
}

.addText {
  color: #1e1a4d;
}

.itemName {
  color: #1e1a4d;
  font-weight: bolder;
}

.addQtyBtn {
  background-color: #c8ecb8;
  color: #0a4610;
  font-weight: bolder;
  border: none;
  border-radius: 8px;
  width: 120px;
  height: 43px;
  margin-right: 5px;
}
.cancelQtyBtn {
  background-color: #ecc4b8;
  color: #460101;
  font-weight: bolder;
  border: none;
  border-radius: 8px;
  width: 120px;
  height: 43px;
}

@media screen and (min-width: 900px) {
  .modal {
    width: 316px;
  }
}
/* End of Modal Styles */

/* Suggestion Box Styles */

.liStyle {
  margin-bottom: 10px;
  margin-left: 1px;
  list-style-type: none;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 85%;
}

.suggestionBox {
  background-color: white;
  margin-left: 20px;
  width: 84%;
  margin-top: 0px;
  padding-bottom: 10px;
  border: 1px solid gray;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 20px;
}

.btnsContainer1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-left: 32px;
  width: 100%;
}

/* End of Suggestion Box Styles */

/* End of Borrowing Form Styles */

/* Forgot Password Styles */

.forgotPassPageContainer {
  margin: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: left; /* Align the content inside 'content' to the left */
}

.hText {
  color: #1e1a4d;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

label {
  text-align: left !important;
}

.requestButton {
  width: 309px;
  height: 41px;
  border: none;
  border-radius: 5px;
  background-color: #77c777;
  color: #0a4610;
  font-weight: bolder;
}

/* Request Confirm Styles */

.requestConfirmPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.requestDesc {
  text-align: center;
  font-size: 16px;
  text-wrap: balance;
  margin-left: 20px;
  margin-right: 20px;
}

.reqBtn {
  background-color: #c8ecb8;
  font-weight: bolder;
  color: #134601;
  border: none;
  width: 80%;
  border-radius: 10px;
  height: 48px;
}

.seeLiveBtn {
  background-color: #c8ecb8;
  font-weight: bolder;
  color: #134601;
  border: none;
  width: 380px;
  border-radius: 10px;
  height: 48px;
}

.cancelBtn {
  background-color: #ecc4b8;
  font-weight: bolder;
  color: #460101;
  border: none;
  width: 80%;
  border-radius: 10px;
  height: 48px;
  margin-bottom: 10px;
}

.backToHomeBtn {
  background-color: white;
  border: 1px solid #c8ecb8;
  color: #134601;
  font-weight: bolder;
  width: 380px;
  border-radius: 10px;
  height: 48px;
}

@media screen and (max-width: 450px) {
  .seeLiveBtn {
    width: 290px;
  }

  .backToHomeBtn {
    width: 290px;
  }
}

/* DASHBOARD STYLE*/
.logocontainerD {
  margin: 40px 10px 10px 10px;

  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
}

.DashboardContent {
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (min-width: 900px) {
  .DashboardContent {
    width: 900px;

    margin: 0 auto;
  }
  .viewContent {
    width: 900px;
    height: 570px;
    margin: 0 auto;
  }
}
.firstContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  margin-top: 10px;
}
.leftlabel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.leftlabelstudent {
  height: 32px;
  margin-left: 3px;
}
.iconContainer {
  height: 34px;
  width: 34px;
}
.iconContainer svg {
  /* Adjust the size of the icon to fit within the container */
  width: 100%;
  height: 100%;
  color: hsla(144, 31%, 12%, 1);
}
.idNumber {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}
.status {
  font-size: 11px;
  font-style: normal;
}
.status span {
  color: #45a54e;
}
.rightlabel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 46px;
  height: 37px;
  justify-content: flex-end;
}
.logoutIcon {
  margin: 0px;
  height: 12px;
  width: 12px;
  color: #1b4d1a;
}
.rightText {
  color: #1b4d1a;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

/* 
D-2C*/

.dashboardLabel {
  color: #1b4d1a;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 2px solid #1b4d1a;
}
/* 
D-3C */
.borrowItemsButton {
  margin-left: 20px;
  margin-right: 20px;

  border-radius: 10px;
  background: #cdf;

  margin-top: 20px;
  color: #25639d;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  padding: 15px 38px;
  display: flex;
  justify-content: center;
}

/* D-4C */

.buttonsView {
  padding: 5px 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;

  overflow-x: scroll;
}

.buttonItemsStatus {
  background-color: hsla(112, 45%, 77%, 0.306);
  margin-right: 10px;
  display: flex;
  width: 84px;
  height: 75px;
  padding: 4px 6px;
  flex-direction: column;
  border: none;
  font-size: 11px;
  align-items: center;
  border-radius: 10px;
  color: hsla(119, 50%, 20%, 1);
  min-width: 68px;
}

@media screen and (max-width: 360px) {
  .buttonItemsStatus {
    font-size: 9px;
    align-items: center;
  }
}

.button-active {
  background-color: rgb(54, 110, 7);
  border: none;
  margin-right: 10px;
  display: flex;
  width: 84px;
  height: 75px;
  padding: 4px 6px;
  flex-direction: column;
  font-size: 11px;
  font-weight: 700;
  align-items: center;
  border-radius: 10px;
  background: #b2dfab;
  color: hsla(119, 50%, 20%, 1);
}
.iconStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.iconStatus svg {
  width: 100%;
  height: 100%;
  color: hsla(119, 50%, 20%, 1);
}
/* D-5C */

.transactionView {
  margin-top: 15px;
}
.transactionContainer {
  border-radius: 7px;
  background: #cee6c5;
  display: flex;
  padding: 10px 10px 0px 10px;
  flex-direction: column;
  margin-bottom: 2px;
  text-decoration: none;
}
.transactionContainerBreakage {
  background-color: #ffe9e9;
  border-radius: 7px;

  display: flex;
  padding: 10px 10px 0px 10px;
  flex-direction: column;
  margin-bottom: 8px;
}
.transactionFirstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.transactionID {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: black;
}
.transactionStatusContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}

.iconReturning,
.iconPending {
  color: #e1a304;
  display: flex;
  align-items: center;
  height: 5px;
  width: 5px;
  margin-right: 15px;
}

.iconApproved,
.iconCompleted,
.iconResolved {
  color: #00360c;

  display: flex;
  align-items: center;
  height: 5px;
  width: 5px;
  margin-right: 15px;
}
.iconBreakage,
.iconRejected {
  color: #360000;
  display: flex;
  align-items: center;
  height: 5px;
  width: 5px;
  margin-right: 15px;
}
.iconReturning svg,
.iconPending svg,
.iconApproved svg,
.iconCompleted svg,
.iconResolved svg,
.iconBreakage svg,
.iconRejected svg {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
.itemPendingStatusText,
.itemReturningStatusText {
  color: #e1a304;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
}

.itemCompletedStatusText,
.itemResolvedStatusText,
.itemApprovedStatusText,
.itemResolvedStatusText {
  color: hsla(126, 58%, 21%, 1);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
}
.itemBreakageStatusText {
  font-size: 11px;
  color: #d26767;

  font-style: normal;
  font-weight: 600;
}
.itemRejectedStatusText {
  color: #cd3d3d;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
}

.transactionSecondRow {
  color: #8f8f8f;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}
.timeanddate {
  display: flex;
  flex-direction: column;
}
.pendingCancel {
  border-radius: 5px;
  background: #e6c5c5;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  color: #4d1a1a;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}
.obReturn {
  background-color: #ffeca7;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  color: #4d1a1a;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}
.transactionThirdRow {
  margin-top: 5px;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 5px 0px;
  color: hsla(216, 2%, 42%, 1);
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
}

/* PENDING VIEW STYLE*/

.viewContent {
  background-color: rgba(234, 234, 234, 0.427);
  max-height: 900px;
  overflow-y: auto;
}

.headerView {
  display: flex;
  justify-content: space-between;
  margin: 30px 22px 0px 22px;
}
.mainlogoView {
  width: 160px;
  height: 30px;
}
.customArrowLink {
  color: #000;
}
.customArrowLink:active {
  text-decoration: none;
  color: #000;
  outline: none;
  box-shadow: none;
}
.viewArrowIcon {
  height: 4px;
  width: 4px;
}
.transaction-header-note {
  color: #360000;

  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: flex-end;
  margin: 3px 25px 0px 25px;
}

/*PV-2*/
.pendingHeaderText,
.returnCompleteHeaderText,
.returnCheckingHeaderText {
  color: #00360c;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  height: 55px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-self: stretch;

  margin: 20px 15px 0px 15px;
}

.pendingBar,
.returnCompletedBar {
  margin: 10px 25px 0px 25px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.checkMarkPoint {
  width: 19px;
  height: 19px;
  background-color: hsla(119, 38%, 44%, 1);
  border: 2px solid rgb(2, 71, 2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.checkMarkPoint svg {
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.checkMark {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 2px solid green;
  border-radius: 50%;
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: green;
}
.lineIcon {
  width: 148px;
  height: 2px;
  display: flex;
  flex: 1;
  background: #036901;
}
.dashIcon {
  border: 1px dashed green;
  width: 145px;
  display: flex;
  flex: 1;
}
.pendingBarTxt,
.returnBarTxt {
  height: 20px;

  margin: 7px 24px 0px 24px;
  display: flex;
  justify-content: space-between;
  color: #000;
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.viewStatusPending,
.viewStatusReturnChecking {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #feffcd;
  color: #d9a92e;
  text-align: center;

  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  margin: 20px 25px 0px 25px;
}
.viewStatusOnBorrow,
.viewStatusReturnComplete {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  color: #00360c;
  text-align: center;

  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  margin: 20px 25px 0px 25px;
  background: #d9ffd8;
}
.viewStatusBreakage,
.viewStatusRed {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  color: hsla(0, 100%, 11%, 1);
  text-align: center;

  font-size: 11px;

  margin: 20px 25px 0px 25px;
  background: #ffe9e9;
}
.viewStatusOnBorrow span,
.viewStatusReturnComplete span {
  color: #00360c;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}
.viewStatusPending span,
.viewStatusReturnChecking span {
  color: #d9a92e;
  text-align: center;
  font-size: 11px;

  font-weight: 700;
}
.viewStatusBreakage span {
  color: #360000;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
}
.viewPaperContent {
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
  margin: 10px 25px;

  border-radius: 12px;
}
.titleID {
  color: #000;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.titleID span {
  font-size: 21px;
}
.firstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewStudentInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0px;
}
.iconProfileContainer {
  width: 27px;
  height: 27px;
  margin-right: 4px;
}
.iconProfileContainer svg {
  width: 100%;
  height: 100%;
}
.student-details {
  display: flex;
  flex-direction: column;
}
.student-Name {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}
.student-ID-Dept {
  color: #000;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

.viewTitleLabel {
  color: #1e1a4d;

  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

.viewItemsSelected {
  border-top: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
  display: flex;
  padding: 10px 5px 0px 5px;
  flex-direction: column;
}

.firstRow {
  display: flex;
  width: 307px;
  padding: 5px 0px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.viewAfterLabel {
  border-top: 1px solid #a2a2a2;
  display: flex;
  padding: 10px 5px 0px 5px;
  flex-direction: column;
}

.approvedCont {
  padding: 20px 0px 35px 0px;
}

.eachIndex {
  margin-right: 15px;
}
.eachItemDetails {
  display: flex;
  flex-direction: row;
}

.viewEachInfo {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 15px;
  color: hsla(0, 0%, 0%, 0.7);
}
.viewItemLeft {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 15px;
  color: hsla(0, 0%, 0%, 0.7);
}
.viewEachBreakage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;

  align-items: center;
}
.totalQuantityLabel {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  align-items: center;
  margin: 10px 0px 15px 0px;
}
.totalQuantityLabel span {
  color: #000;

  font-size: 10px;
  font-style: normal;
  font-weight: 700;
}
.eachmemID {
  margin-right: 10px;
}

.viewDateTime {
  display: flex;
  color: #8f8f8f;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
  flex-direction: column;
}
.viewDate {
  display: flex;
  justify-content: flex-end;
}
.viewTime {
  display: flex;
  justify-content: flex-end;
}
.doneViewButton {
  display: flex;
  height: 43px;
  padding: 9px 38px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #c8ecb8;
  color: #134601;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin: 0px 15px 15px 15px;
}

.cancelViewButton {
  display: flex;
  height: 43px;
  padding: 9px 38px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #ecc4b8;
  color: #460101;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin: 0px 15px 0px 15px;
}

/* on borrow confirmation */

.viewConfirmation {
  background-color: rgba(234, 234, 234, 0.427);
  margin: 0px 25px 0px 25px;
}
.confirmationTxt {
  color: #000;
  text-align: justify;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-left: 10px;
}
.confirmationTxt span {
  font-weight: 700;
}
.customCircle {
  color: #000000b2;
}
.firstRowConfirm {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.returnViewButton {
  display: flex;
  height: 43px;
  padding: 9px 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  background: rgba(154, 154, 154, 0.4);
  margin-top: 10px;
  margin-bottom: 10px;

  color: #5c5c5c;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.returnViewButton.active {
  background-color: #c8ecb8;
  color: #134601;
}
/*breakage details*/

.breakageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  align-items: flex-end;
  padding-right: 10px;
}
.breakageDetails {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: hsla(0, 100%, 11%, 1);
}
.breakageLabel {
  margin-left: 30px;
  background: #ffe9e9;
  border-radius: 10px;
  padding: 3px 6px;
  color: hsla(0, 100%, 11%, 1);
}
.iconBreakageView {
  height: 2px;
  width: 2px;
  color: hsla(0, 100%, 11%, 1);
  margin-right: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconBreakageView svg {
  height: 5px;
  width: 5px;
  margin-right: 10px;
}
.breakageItemNote {
  color: #360000;

  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.breakageReplacedLabel {
  margin-left: 70px;
  background: #d9ffd8;
  border-radius: 10px;
  padding: 3px 6px;
  color: #00360c;
}
/*replaced*/

.breakageCompleteDetails {
  color: #00360c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
}
.iconBreakageReplacedView {
  height: 2px;
  width: 2px;
  color: #00360c;

  margin-right: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconBreakageReplacedView svg {
  height: 5px;
  width: 5px;
  margin-right: 10px;
}
.breakageCompleteItemNote {
  color: #00360c;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer{
display: flex;
justify-content: center;
align-items: center;
top: 0;
bottom: 10px;
} */

.tableHeadContainer {
  border-bottom: solid 1px black;
}

.totalContain {
  margin-right: 10px;
}


/* Teacher */
